src/*.cpp diff=cp1251 text eol=lf
include/*.h diff=cp1251 text eol=lf
*.txt diff=cp1251 text eol=lf
*.md diff=utf-8 text eol=lf
Makefile diff=utf-8 text eol=lf
*.sln diff=astextplain eol=crlf
*.vcxproj diff=astextplain eol=crlf

*.md linguist-language=Markdown