# Настройки для C++ файлов с русскими комментариями (Windows-1251)
src/*.cpp    text working-tree-encoding=Windows-1251 eol=CRLF
inlude/*.h      text working-tree-encoding=Windows-1251 eol=CRLF

# Бинарные файлы (исключаем конвертацию)
obj/*.exe    binary -text


# Дополнительные настройки
*.md     text working-tree-encoding=UTF-8

# Игнорировать конвертацию для служебных файлов
.gitattributes export-ignore
.gitignore     export-ignore